<div
  class='announcement-bar full-width'
>
  <span>
    {{ 'sections.header.free_shipping' | t }}
  </span>
</div>

<header class='full-width'>
  <h2 class='header__title'>
    <a href='{{ routes.root_url }}'>
      <img src='{{ 'logo-neori.png' | asset_url }}' alt='Logo' style='height: 3rem;'>
    </a>
  </h2>

  <div class='header__menu'>
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class='header__icons'>
    <a href='{{ routes.cart_url }}'>
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  div .announcement-bar {
    background-color: #5f5f5f;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
